.butt_post{
  
}

.post_block{
  background-color: aliceblue;
  width: 1200px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  border-radius: 50px;
}

.cercle{
  width: 50px;
  height: 50px;
  background-color:blue;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 50px;
}

.text{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
}

.button_item {
  width: 150px;
  height: 50px;
  color: #b7b220;
  font-size: large;
  font-weight: bold;
  background-color: blue;
}


