.app-wrapper{
  display: grid;
  padding-left: 15%;
  padding-right: 15% ;

  grid-template-areas: 
  "h h"
  "n c ";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap:10px;*/
}

.app-wrapper-content {
  greid-area:c;
  background-color: aqua;

}


/*___________________________________*/

